ul.webio-sf-menu{
  //height: 41px;
  margin-top: 13px;



  // All Parent <li>
  > li.list {
    min-height: 41px;
    border-style: none!important;

    //All anchor links in parent <li>
    > a {
      height: 41px;
      line-height: 41px!important;
      font-size: 1em!important;
      text-align: center!important;
      background: url("../images/custom/menu-bg.png");
      color: #DDE2ED!important;
      text-shadow: none!important;
      font-weight: bold!important;
      margin: 0!important;
    }

    a:hover {
      color: white!important;
      background-position: 0 -45px;
    }

    //First Sub Menu (Title)
    ul {
      background: none!important;
      margin:-7px 0 0 0!important;
      box-shadow: 0 0 20px #1a3366!important;
      background: none repeat scroll 0 0 #ECEEF3!important;
      border-radius: 0 0 2px 2px!important;
      border-top: 1px solid #39669B!important;

      li {
        background: none!important;
        border: none!important;

        div.sf-megamenu-column {
          //height: 0px;
          padding: 7px;
          margin: 0!important;

          > a {
            font-size: 1em;
            font-weight: bold;
            text-align: left!important;
            color: #092c72!important;
            height: 20px!important;
            margin: 0 0 8px 0!important;
            //background: url("../images/custom/item-l2.png") no-repeat scroll 100% 5px  transparent!important;
            display: table-cell!important;
            padding: 5px 5px 5px 25px!important;



          }
          > a:after {
            content: url("../images/custom/item-l2.png");
            padding: 0 0 0 8px;
          }

          > a:hover {
            text-decoration: underline!important;
            color: #38a4ff!important;
          }

          > ol {

            //SubMenu Links
            li {

              a{
                text-align: left;
                margin-left: 5px!important;
                color: #3366cc!important;
                text-shadow: none!important;
              }

              a:hover {
                text-decoration: underline!important;
                color: #38a4ff!important;

              }

            }
          }

        }
      }
      *{
        background: none!important;
        background-image: none;
        border-radius: 0!important;
        border: none;
      }
    }
  }
  //Exlude very first <li> Home
  > li:not(.first) {
    //border: 0!important;
    border-left: 1px solid #39669B!important;
     a {
       padding: 0 30px!important;
     }
  }

  //First Parent <li> Home
  > li.first {


    border-radius: 0 0 0 0!important;
    //background: #e9e9e9!important;

    // Firts anchor link
    a {
      //border-radius: 3px 0 0 3px;
      padding: 0 20px!important;
      background: none;
      border:  1px solid;
      border-radius: 3px 0 0 3px;
      height: 39px;
    }

    a:hover {
      background: none;
      border:  1px solid #e4e4e4!important;
      border-radius: 3px 0 0 3px!important;
    }

    a:after {

    }

    a > img {
      position: relative;
      top:  5px;
    }


    }


  //Last <li>
  > li.last{

    border-radius: 0!important;
    border-right: 1px solid #39669B!important;
    // Firts anchor link
    a {
      //border-radius: 0 3px 3px 0;

    }
  }
  //All anchor links in menu
  a.link{
    color: white;
    display: block;
    text-align: center;
  }
}

//Home link

#superfish-1 li:first-child {
    //background-image: url("../images/custom/home.png");
}
